.container{
  background-color: lightgray;
  height: 200px;
  margin:20px; 
  padding-top: 45px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  overflow: auto;
}

.title{
  position: absolute;
  right:0px;
  top:0px;
  margin:20px;
  padding: 5px;
  height: 35px;
  width: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}

.row {
  padding: 50px;
  width: 100%;
}

#blue {
  background-color: lightblue;
}

#gray {
  background-color: gray;
}

#pink {
  background-color: lightpink;
}